A inclure :

- SSH OK depuis l’hôte
    sudo ufw status numbered
- Port 80 accessible
- Ports non nécessaires fermés
  - incoming : deny
- Firewall actif