A inclure :

- compte root désactivé
- port 22 > port 2222
  - SSH okay
- Installation de Apache faite
  - port 80 accessible
- Ports non nécessaires fermés
- [x] Firewall actif 